.PageNotFound {
    margin: auto;
    text-align: center;
    padding: 10vmax;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .not-found-img {
    max-width: 550px;
    width: 100%;
    height: auto;
    object-fit: contain;
  }

  .PageNotFound > p {
    font-size: 2.5vmax;
    margin: 0 auto;
  }
  .PageNotFound > a {
    background-color: #3f51b5;
    color: white;
    border: none;
    padding: 1vmax 3vmax;
    cursor: pointer;
    font: 400 1vmax "Roboto";
    text-decoration: none;
    margin: 2vmax;
    border-radius: 20px;
  }

  .PageNotFound > a:hover {
    background-color: #7a82b3;
  }
  
  @media screen and (max-width: 600px) {
    .PageNotFound > a {
      padding: 3vw 6vw;
      font: 400 4vw "Roboto";
      margin: 2vmax;
    }
  
    .PageNotFound > svg {
      font-size: 20vw;
    }
    .PageNotFound > p {
      margin: 2vmax;
      font-size: 5vw;
    }
  }