/* .productListContainer {
    width: 100%;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    border-left: 1px solid rgba(0, 0, 0, 0.158);
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  #productListHeading {
    font: 400 2rem "Roboto";
    padding: 0.5vmax;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.637);
    transition: all 0.5s;
    margin: 2rem;
    text-align: center;
  }
  
  .productListTable {
    background-color: white;
    border: none !important;
  }
  
  .productListTable div {
    font: 300 1vmax "Roboto";
    color: rgba(0, 0, 0, 0.678); 
    border: none !important;
  }
  
  .productListTable a,
  .productListTable button {
    color: rgba(0, 0, 0, 0.527);
    transition: all 0.5s;
  }
  
  .productListTable a:hover {
    color: tomato;
  }
  
  .productListTable button:hover {
    color: rgb(236, 30, 30);
  }
  
  .MuiDataGrid-columnHeader div {
    color: rgb(255, 255, 255);
  }
  
  @media screen and (max-width: 600px) {
    .productListTable div {
      font: 300 4vw "Roboto";
    }
  } */

  /* Base styles */
/* .productListContainera {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  background-color: #f4f4f4;

} */

#productListHeadinga {
  border-bottom: 2px double #5e5e5e;
  font-size: 2.5rem;
  text-align: center;
  color: #333;
}


/* .productGrida {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 0.2rem;
  width: 100%;
} */

.productListContainera {
  padding: 1rem;
  /* width: 99%; */
  /* height: 90%; */
  display: flex;
  flex-direction: column;
  background-color: rgb(232, 232, 232);
}

.productGrida {
  background-color: #d0d0d0;
  border-radius: 20px;
  height: 100vh;
  overflow-y: scroll; /* keep scrolling */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1rem;
  padding-right: 0.5rem;
  margin-top: 1rem;
}

.view{
  color: #12193c !important;
  background-color: #cecece !important;
  margin-bottom: 15px !important;
  cursor: pointer;
}

.view:hover{
  background-color: #747474 !important;
}

/* For Chrome, Safari, Opera */
.productGrida::-webkit-scrollbar {
  display: none;
}




.productCarda {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Vertical centering */
  align-items: center;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  min-height: 450px !important;
  /* width: 250px !important; */
  margin: 20px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}



.productCarda:hover {
  transform: scale(1.05);
}

.productCardHeadera {
  background-color: #3f51b5;
  padding: 1rem;
  color: white;
  /* margin-top: 10px; */
  border-radius: 5px;
  width: 80%;
}

.productCardBodya {
  padding: 1rem;
}
.productCardBodya p {
  padding: 1rem;
}

.productCardFootera {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  background-color: #cecece;
  border-radius: 10px;
  width: 80%;
  align-items: center;
}


.productCardFootera Button {
  border-radius: 8px;
  
}


@media (max-width: 600px) {

  .productCardHeadera {
   width: 70%;
  }


  .productCardFootera {
    padding: 0rem;
    width: 90%;
  }

  .productCarda {
    min-height: 300px !important;
    width: 150px !important;
  }

  .des{
    display: none;
  }

  .productCardBodya {
    padding: 1rem;
  }
  .productCardBodya p {
    padding: 0rem;
    margin-bottom: 10px;
  }
  .productGrida {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }

  #productListHeadinga {
    font-size: 2rem;
  }
}
