.updateProfileContainer {
    width: 100vw;
    min-height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(231, 231, 231);
    position: fixed;
    top: 0%;
    left: 0;
  }
  
  .updateProfileBox {
    background-color: white;
    width: 25vw;
    height: 80vh;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 20px;
    border: 2px solid rgb(127, 127, 127);
  }
  
  .updateProfileHeading {
    text-align: center;
    color: rgba(0, 0, 0, 0.664);
    font: 400 1.3vmax "Roboto";
    padding: 1.3vmax;
    border-bottom: 1px solid rgba(0, 0, 0, 0.205);
    width: 50%;
    margin: auto;
  }
  
  .updateProfileForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 2vmax;
    justify-content: space-evenly;
    height: 70%;
    transition: all 0.5s;
  }
  
  .updateProfileForm > div {
    display: flex;
    width: 100%;
    align-items: center;
  }
  
  .updateProfileForm > div > input {
    padding: 1vmax 4vmax;
    padding-right: 1vmax;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.267);
    border-radius: 4px;
    font: 300 0.9vmax;
    outline: none;
  }
  
  .updateProfileForm > div > svg {
    position: absolute;
    transform: translateX(1vmax);
    font-size: 1.6vmax;
    color: rgba(0, 0, 0, 0.623);
  }
  
  #updateProfileImage > img {
    width: 3vmax;
    border-radius: 100%;
    margin: 1vmax;
  }
  #updateProfileImage > input {
    display: flex;
    padding: 0%;
  }
  
  #updateProfileImage > input::file-selector-button {
    cursor: pointer;
    width: 100%;
    z-index: 2;
    height: 5vh;
    border: none;
    margin: 0%;
    font: 400 0.8vmax;
    transition: all 0.5s;
    padding: 0 1vmax;
    color: rgba(0, 0, 0, 0.623);
    background-color: rgb(255, 255, 255);
  }
  
  #updateProfileImage > input::file-selector-button:hover {
    background-color: rgb(235, 235, 235);
  }
  
  .updateProfileBtn {
    border: none;
    background-color: #3f51b5;
    color: white;
    font: 300 0.9vmax "Roboto";
    width: 100%;
    padding: 0.8vmax;
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 10px;
    outline: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.219);
  }
  
  .updateProfileBtn:hover {
    background-color: rgb(81, 81, 80);
  }

  .removeProfileBtn {
    display:flex;
    text-align: center;
    border: none;
    background-color: #d04141;
    color: white;
    font: 300 0.9vmax "Roboto";
    padding: 0.5vmax;
    margin: -5% 0 20px -45%;
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 10px;
    outline: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.219);
  }

  .p1{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: -10px 0 10px 0;
    padding: 3px 0;
    background-color: #d041416c;
  }
  .img1{
    height: 20px;
    width: 20px;
    margin-right: 2px;
  }
  
  .removeProfileBtn:hover {
    background-color: rgb(81, 81, 80);
  }
  
  @media screen and (max-width: 600px) {
    .updateProfileContainer {
      background-color: white;
    }
    .updateProfileBox {
      width: 80vw;
      height: 75vh;
      padding-top: 10px;
    }
  
    .updateProfileForm {
      padding: 5vmax;
    }

    .removeProfileBtn {
      font: 300 1.5vmax "Roboto";
      margin: -5% 0 0 -45%;
    }
  
    .p1{
      font-size: 0.8rem;
    }

  
    .updateProfileForm > div > input {
      padding: 2.5vmax 5vmax;
      margin-bottom: 10px;
      font: 300 1.7vmax;
    }
  
    .updateProfileForm > div > svg {
      font-size: 2.8vmax;
    }
  
    #updateProfileImage > img {
      width: 8vmax;
      border-radius: 100%;
    }
  
    #updateProfileImage > input::file-selector-button {
      height: 7vh;
      font: 400 1.8vmax;
    }
  
    .updateProfileBtn {
      font: 300 1.9vmax "Roboto";
      padding: 1.8vmax;
      margin-top: 20px;
    }
  }