.MuiStepConnector-line {
    display: none !important;
  }
  
  .MuiStepConnector-root {
    height: 1px;
    background-color: rgba(0, 0, 0, 0.349);
  }
  
  .h2{
    background-color: rgb(232, 232, 232);
  }


  .MuiStepper-horizontal {
    background-color: rgb(232, 232, 232) !important;
}
  
  .MuiStepConnector-active,
  .MuiStepConnector-completed {
    background-color: #3f51b5;
  }

